body {
  color: #FFA500;
  background-color: rgb(139, 0, 139);
  font-size: 120%;
}

#content {
  background-color: rgba(0, 191, 255, 0.2);
  padding: 120px;
  margin: 100px;
  margin-top: 110px;
  font-family: Helvetica;
}

pre {
  display: block;
  font-family: Helvetica;
  white-space: pre;
  margin: 1em 0;
}

img {
  width: 700px;
  margin: auto;
  border: double 4px black;
  margin: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  color: #ea893f;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}
